@charset "utf-8";
* {
    max-width: 100%;
}
header {
    text-align: center;
}
footer p {
    text-align: center;
    color: #ccc;
}
img {
    /* display: inline-block; */
    width: 100px;
    /* border: 1px solid #000; */
    /* margin: 0 auto; */
}

h1 {
    /* display: inline-block; */
    /* background-color: #ccc; */
    color: #00bbdd;
    /* border-bottom: 2px solid #00bbddfc; */
    text-shadow:  2px 3px 1px rgb(204 149 26 / 70%);
}
.link-area {
    display: flex;          /* 以下3行でリストを画面中央で左寄せ */
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
    /* background-color: rgb(232 188 147 / 56%); */

    /* background: url(images/kinnpatu1-min.jpg)
    ;
    background-size: contain; */
}
ul {
    list-style-type: none;
}
li {
    margin: 10px 0 15px;
    
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #00bbdd;
}
