@charset "utf-8";
body{text-align: center;}
footer p {
    color: #ccc;
}
img {
    width: 100px;
}

h1 {
    color: #00bbdd;
    text-shadow:  2px 3px 1px rgb(204 149 26 / 70%);
}
.link-area {
    display: flex;         /* 以下3行でリストを画面中央で左寄せ */
    align-items: center;
    flex-direction: column;
    margin-bottom: 1px;
    text-arign: left;
}
ul {
    list-style-type: none;
}
li {
    margin: 10px 0 15px;
    
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #00bbdd;
}
